/data/*
/__pycache__
/rnx/__pycache__
/api/__pycache__
/api/handlers/__pycache__
/api/actions/__pycache__
/migrations
/db/__pycache__
/tests/__pycache__
/tests/migrations
/tests/test_handlers/__pycache__
./migrations