[Unit]
Description=Publisher service for %I for %i
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/python3 /home/ivan/Рабочий\ стол/open-source/praktika/publisher.py %I %i
Restart=on-failure

[Install]
WantedBy=default.target
